# .gitignore for NetBeans and Java projects

# NetBeans-specific files
/nbproject/private/*
/build/*
/nbbuild/*
/dist/*
/nbdist/*
/.nb-gradle/

# Compiled class files
*.class

# Log files
*.log
*private.xml
*private.properties
PruebaFinal/build/classes/GUI/*.form
PruebaFinal/src/GUI/*.form
PruebaFinal/src/GUI/*.java

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Others
*.bak
*.swp
*~.nib
*.tmp
